@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

a {
  text-decoration: none; }

.h {
  position: absolute;
  top: -9999px;
  opacity: 0; }

fieldset {
  border: none; }

/*header_sub--------------------------*/
#header_sub {
  width: 100%;
  border-bottom: 1px solid #ddd; }
  #header_sub .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header_sub .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      #header_sub .inner h1 a {
        font: 28px/1 "Open Sans", "Nanum Gothic";
        color: #333; }
    #header_sub .inner .menuWeb #gnb {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header_sub .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header_sub .inner .menuWeb #gnb li {
        float: left; }
        #header_sub .inner .menuWeb #gnb li a {
          display: inline-block;
          font: 14px/1 "Open Sans", "Nanum Gothic";
          color: #333;
          padding: 0 20px; }

/*sub_page content--------------------------*/
.content {
  width: 100%;
  padding: 0px 0px 120px; }
  .content .sub_visual {
    width: 100%;
    height: 280px;
    margin-bottom: 80px;
    background: #000;
    position: relative; }
    .content .sub_visual .title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; }
      .content .sub_visual .title h1 {
        font: 32px/1 "Open Sans", "Nanum Gothic";
        color: #fff;
        margin-bottom: 5px; }
      .content .sub_visual .title span {
        font: 14px/1 "Open Sans", "Nanum Gothic";
        color: #ddd; }
  .content .inner {
    width: 1180px;
    min-height: 500px;
    margin: 0 auto;
    position: relative; }

/*footer_sub--------------------------*/
#footer_sub {
  width: 100%;
  background: #111;
  padding: 80px;
  border-top: 1px solid #999; }
  #footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer_sub .inner .wrap {
      width: 100%; }
      #footer_sub .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer_sub .inner .wrap h1 {
        width: 15%;
        float: left;
        font-size: 0; }
        #footer_sub .inner .wrap h1 a {
          font: 24px/1 "Open Sans", "Nanum Gothic";
          color: #fff; }
      #footer_sub .inner .wrap .box {
        width: 70%;
        float: left; }
        #footer_sub .inner .wrap .box ul {
          width: 100%; }
          #footer_sub .inner .wrap .box ul::after {
            content: '';
            display: block;
            clear: both; }
          #footer_sub .inner .wrap .box ul li {
            float: left;
            margin-bottom: 20px; }
            #footer_sub .inner .wrap .box ul li a {
              font: 14px/1 "Open Sans", "Nanum Gothic";
              color: #ccc;
              padding-right: 20px; }
        #footer_sub .inner .wrap .box address {
          width: 100%;
          font: 13px/1.6 "Open Sans", "Nanum Gothic";
          color: #666; }
        #footer_sub .inner .wrap .box p {
          font: 12px/1 "Open Sans", "Nanum Gothic";
          color: #555;
          margin-top: 40px; }
      #footer_sub .inner .wrap .familysite {
        width: 15%;
        float: right; }
        #footer_sub .inner .wrap .familysite select {
          width: 160px;
          height: 40px;
          border: none;
          background: #111;
          border-bottom: 1px solid #ddd;
          color: #fff;
          font: 14px/40px "Open Sans", "Nanum Gothic";
          color: #ddd;
          margin-bottom: 20px; }
        #footer_sub .inner .wrap .familysite .sns {
          width: 100%; }
          #footer_sub .inner .wrap .familysite .sns li {
            display: inline-block; }
            #footer_sub .inner .wrap .familysite .sns li a {
              font-size: 22px;
              color: #999;
              padding: 15px; }

/*department---------------------------------*/
.department .sub_visual {
  background: url(../img/department/bg5.jpg) no-repeat center/cover; }
.department .inner {
  width: 100%;
  position: relative; }
  .department .inner .mainTit {
    width: 1180px;
    margin: 0 auto; }
    .department .inner .mainTit h1 {
      font: 32px/1 "Open Sans", "Nanum Gothic";
      color: #000;
      margin-bottom: 40px;
      padding-bottom: 30px;
      border-bottom: 1px solid #ddd; }
  .department .inner .sub_tit {
    width: 100%;
    text-align: center;
    margin-bottom: 60px; }
    .department .inner .sub_tit h2 {
      font: 26px/1 "Open Sans", "Nanum Gothic";
      color: #333;
      margin-bottom: 20px;
      text-align: center;
      position: relative;
      padding-bottom: 15px; }
      .department .inner .sub_tit h2::after {
        content: '';
        display: block;
        width: 50px;
        height: 1px;
        background: #93B5C6;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%); }
    .department .inner .sub_tit > p {
      font: 14px/1.4 "Open Sans", "Nanum Gothic";
      color: #555; }
  .department .inner .dpt1 {
    width: 1180px;
    margin: 0 auto;
    margin-bottom: 100px; }
    .department .inner .dpt1::after {
      content: '';
      display: block;
      clear: both; }
    .department .inner .dpt1 .left {
      width: 50%;
      height: 320px;
      float: left;
      padding: 20px 10px; }
      .department .inner .dpt1 .left p {
        font: 16px/1.5 "Open Sans", "Nanum Gothic";
        color: #555;
        margin-bottom: 76px;
        padding-right: 20px; }
      .department .inner .dpt1 .left a {
        display: block;
        width: 120px;
        height: 40px;
        font: 12px/40px "Open Sans", "Nanum Gothic";
        color: #666;
        border: 1px solid #aaa;
        text-align: center;
        transition: 0.5s; }
        .department .inner .dpt1 .left a:hover {
          color: #C05C7E;
          border-color: #C05C7E; }
    .department .inner .dpt1 .right {
      width: 50%;
      height: 320px;
      float: left;
      position: relative;
      overflow: hidden; }
      .department .inner .dpt1 .right .swiper-wrapper {
        width: 100%;
        height: 280px; }
        .department .inner .dpt1 .right .swiper-wrapper .swiper-slide {
          width: 100%;
          height: 100%; }
        .department .inner .dpt1 .right .swiper-wrapper .box1 {
          background: url(../img/department/about1.jpg) no-repeat center/cover; }
        .department .inner .dpt1 .right .swiper-wrapper .box2 {
          background: url(../img/department/about2.jpg) no-repeat center/cover; }
        .department .inner .dpt1 .right .swiper-wrapper .box3 {
          background: url(../img/department/about3.jpg) no-repeat center/cover; }
      .department .inner .dpt1 .right .swiper-pagination {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0; }
        .department .inner .dpt1 .right .swiper-pagination .swiper-pagination-bullet-active {
          background: #3D84B8; }
  .department .inner .dpt2 {
    width: 100%;
    margin-bottom: 100px;
    padding: 40px 0 100px 0;
    background: #eeeeee; }
    .department .inner .dpt2 .wrap {
      width: 1180px;
      margin: 0 auto; }
      .department .inner .dpt2 .wrap::after {
        content: '';
        display: block;
        clear: both; }
      .department .inner .dpt2 .wrap article {
        width: 380px;
        height: 150px;
        margin-right: 20px;
        margin-top: 20px;
        float: left;
        text-align: center; }
        .department .inner .dpt2 .wrap article:nth-of-type(3n) {
          margin-right: 0; }
        .department .inner .dpt2 .wrap article .icon {
          width: 44px;
          height: 44px;
          margin: 0 auto; }
          .department .inner .dpt2 .wrap article .icon img {
            width: 100%;
            height: 100%; }
        .department .inner .dpt2 .wrap article h3 {
          font: bold 16px/1 "Open Sans", "Nanum Gothic";
          color: #333;
          margin-top: 20px; }
        .department .inner .dpt2 .wrap article p {
          display: inline-block;
          font: 14px/1.3 "Open Sans", "Nanum Gothic";
          color: #666;
          padding: 15px 30px;
          box-sizing: border-box; }
  .department .inner .dpt3 {
    width: 1180px;
    margin: 0 auto; }
    .department .inner .dpt3::after {
      content: '';
      display: block;
      clear: both; }
    .department .inner .dpt3 > article {
      width: 295px;
      height: 300px;
      position: relative;
      float: left;
      transition: 0.5s; }
      .department .inner .dpt3 > article:hover .teamBox {
        opacity: 1;
        bottom: 0; }
      .department .inner .dpt3 > article:hover .pic img {
        filter: grayscale(0%); }
      .department .inner .dpt3 > article .pic {
        width: 100%;
        height: 100%; }
        .department .inner .dpt3 > article .pic img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: grayscale(100%); }
      .department .inner .dpt3 > article .teamBox {
        width: 100%;
        height: 50%;
        position: absolute;
        bottom: -50px;
        left: 0;
        padding: 20px 30px 35px;
        transition: 0.5s;
        opacity: 0; }
        .department .inner .dpt3 > article .teamBox h4 {
          font: 20px/1 "Open Sans", "Nanum Gothic";
          color: #fff;
          margin-bottom: 10px; }
        .department .inner .dpt3 > article .teamBox span {
          font: 12px/1 "Open Sans", "Nanum Gothic";
          color: #eee;
          letter-spacing: 1px; }
        .department .inner .dpt3 > article .teamBox .sns {
          display: inline-block;
          width: 90px;
          height: 30px;
          background: #eee;
          text-align: center;
          margin-top: 30px; }
          .department .inner .dpt3 > article .teamBox .sns a {
            display: inline-block;
            color: #333;
            line-height: 30px;
            padding: 0 5px; }
            .department .inner .dpt3 > article .teamBox .sns a i {
              font-size: 12px; }
      .department .inner .dpt3 > article:nth-of-type(7) {
        padding: 40px;
        background: #efefef; }
        .department .inner .dpt3 > article:nth-of-type(7) p {
          text-align: left;
          padding: 0 0 0 10px;
          font: 12px/1 "Open Sans", "Nanum Gothic";
          color: #666;
          letter-spacing: 2px;
          margin-top: 60px;
          margin-bottom: 10px; }
          .department .inner .dpt3 > article:nth-of-type(7) p::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 23px;
            background: #93B5C6;
            transform: rotate(55deg);
            margin-right: 15px; }
        .department .inner .dpt3 > article:nth-of-type(7) span {
          display: block;
          font: 18px/1.4 "arial";
          color: #3b3b3b;
          letter-spacing: 2px; }
        .department .inner .dpt3 > article:nth-of-type(7) a {
          display: block;
          width: 150px;
          height: 40px;
          border: 1px solid #ccc;
          font: 12px/40px "Open Sans", "Nanum Gothic";
          color: #999;
          letter-spacing: 2px;
          text-align: center;
          margin-top: 40px;
          transition: 0.5s; }
          .department .inner .dpt3 > article:nth-of-type(7) a:hover {
            border: 1px solid #93B5C6;
            color: #93B5C6; }

@media screen and (max-width: 1179px) {
  .department .inner .mainTit {
    width: 100%;
    padding: 0 20px; }
  .department .inner .dpt1 {
    width: 100%;
    padding: 0 20px; }
    .department .inner .dpt1 .left {
      padding: 0px; }
      .department .inner .dpt1 .left p {
        font-size: 14px;
        margin-bottom: 30px; }
  .department .inner .dpt2 {
    width: 100%;
    margin-bottom: 100px;
    padding: 40px 0 100px 0;
    background: #eeeeee; }
    .department .inner .dpt2 .wrap {
      width: 100%;
      padding: 0 20px; }
      .department .inner .dpt2 .wrap::after {
        content: '';
        display: block;
        clear: both; }
      .department .inner .dpt2 .wrap article {
        width: 49%;
        margin-right: 2%;
        margin-top: 0;
        margin-bottom: 60px; }
        .department .inner .dpt2 .wrap article:nth-of-type(2n) {
          margin-right: 0; }
        .department .inner .dpt2 .wrap article h3 {
          margin-top: 10px; }
  .department .inner .dpt3 {
    width: 100%;
    padding: 0 20px; }
    .department .inner .dpt3 > article {
      width: 50%;
      height: 300px;
      position: relative;
      float: left;
      transition: 0.5s; }
      .department .inner .dpt3 > article:nth-of-type(7) p {
        margin-top: 20px; } }
@media screen and (max-width: 539px) {
  .department .inner .mainTit h1 {
    font-size: 28px; }
  .department .inner .sub_tit h2 {
    font-size: 20px; }
  .department .inner .sub_tit p {
    font-size: 12px; }
  .department .inner .dpt1 {
    margin-bottom: 60px; }
    .department .inner .dpt1 .left {
      width: 100%;
      height: 300px; }
      .department .inner .dpt1 .left p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 30px;
        padding-right: 0; }
      .department .inner .dpt1 .left a {
        width: 100%; }
    .department .inner .dpt1 .right {
      width: 100%; }
  .department .inner .dpt2 .wrap article {
    width: 100%; }
    .department .inner .dpt2 .wrap article h3 {
      font-size: 14px; }
  .department .inner .dpt3 > article {
    width: 100%; } }
/*join---------------------------------*/
.join .sub_visual {
  background: url(../img/join/join01.jpg) no-repeat center/cover; }
  .join .sub_visual .title h1 {
    color: #111; }
  .join .sub_visual .title span {
    color: #555; }
.join .wrap {
  width: 100%;
  height: 100%; }
  .join .wrap h2 {
    font: 600 26px/1 "Open Sans", "Nanum Gothic";
    color: #333;
    margin-bottom: 10px; }
  .join .wrap ul {
    width: 100%;
    background: #eee;
    border-top: 5px solid #111;
    text-align: center;
    padding: 60px 0;
    margin-bottom: 80px; }
    .join .wrap ul li {
      display: inline-block;
      padding: 0 13px;
      margin-bottom: 10px; }
      .join .wrap ul li input[type=radio] {
        appearance: none;
        width: 15px;
        height: 15px;
        border: 1px solid #333;
        font-size: 12px;
        color: #333;
        position: relative; }
        .join .wrap ul li input[type=radio]:checked::before {
          content: '';
          display: block;
          width: 7.5px;
          height: 7.5px;
          margin: 5%;
          background: #333;
          position: absolute;
          margin-top: 2.5px;
          margin-left: 2.5px; }
    .join .wrap ul p {
      font: 14px/1 "Open Sans", "Nanum Gothic";
      color: #555; }
.join .base_info {
  width: 100%; }
  .join .base_info h3 {
    font: 20px/1 "Open Sans", "Nanum Gothic";
    color: #333;
    margin-bottom: 10px; }
  .join .base_info table {
    width: 100%;
    border-top: 1px solid #333;
    margin-bottom: 80px; }
    .join .base_info table th {
      width: 15%;
      text-align: left;
      font: 16px/1 "Open Sans", "Nanum Gothic";
      color: #333;
      padding: 20px 30px;
      position: relative; }
      .join .base_info table th label::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #333;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%); }
    .join .base_info table td {
      width: 80%;
      padding: 20px; }
      .join .base_info table td input[type=text], .join .base_info table td input[type=password] {
        width: 40%;
        height: 35px;
        border: 1px solid #ddd;
        padding: 10px;
        font: 14px/1 "Open Sans", "Nanum Gothic";
        color: #999; }
      .join .base_info table td button {
        width: 136px;
        height: 35px;
        border: 1px solid #999;
        background: #fff;
        cursor: pointer;
        font: 14px/1 "Open Sans", "Nanum Gothic";
        color: #111; }
      .join .base_info table td select {
        width: 123px;
        height: 35px;
        border: 1px solid #ddd;
        font: 14px/1 "Open Sans", "Nanum Gothic";
        color: #333;
        padding: 0 10px; }
      .join .base_info table td > label {
        font: 16px/1 "Open Sans", "Nanum Gothic";
        color: #333;
        margin-right: 20px; }
      .join .base_info table td #code {
        width: 25%; }
      .join .base_info table td #address, .join .base_info table td #addressSub {
        display: block;
        margin-top: 5px; }
      .join .base_info table td p {
        font: 12px/1 "Open Sans", "Nanum Gothic";
        color: hotpink;
        margin-top: 5px; }
.join .agreement {
  width: 100%; }
  .join .agreement input[type=checkbox] {
    width: 15px;
    height: 15px;
    border: 1px solid #333; }
  .join .agreement label {
    font: 18px/1 "Open Sans", "Nanum Gothic";
    color: #333;
    vertical-align: top; }
  .join .agreement .agreement_box {
    width: 100%;
    height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    font: 16px/1.6 "Open Sans", "Nanum Gothic";
    color: #666;
    border: 1px solid #ddd;
    padding: 30px 50px;
    margin-top: 10px; }
  .join .agreement .agree1 {
    margin-bottom: 40px; }
.join .btns {
  width: 100%;
  text-align: center;
  margin-top: 40px; }
  .join .btns input[type=reset], .join .btns input[type=submit] {
    width: 200px;
    height: 60px;
    border: 1px solid #333;
    font: 16px/1 "Open Sans", "Nanum Gothic";
    color: #333; }
  .join .btns input[type=reset] {
    background: #fff; }
  .join .btns input[type=submit] {
    background: #111;
    color: #fff; }

/*gallery---------------------------------*/
.gallery .sub_visual {
  background: url(../img/gallery/bg01.jpg) no-repeat center/cover; }
.gallery .inner h1 {
  border-bottom: none;
  margin-bottom: 20px;
  cursor: pointer; }
.gallery .inner .loading {
  width: 400px;
  height: 300px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s; }
  .gallery .inner .loading.off {
    opacity: 0; }
.gallery .inner #searchBox {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  padding-right: 12px; }
  .gallery .inner #searchBox input[type=text] {
    width: 200px;
    height: 30px;
    font: 13px/30px "Open Sans", "Nanum Gothic";
    color: #000;
    border: 1px solid #999; }
  .gallery .inner #searchBox button {
    width: 78px;
    height: 30px;
    border: 1px solid #999;
    background: #fff;
    font: 12px/30px "Open Sans", "Nanum Gothic";
    color: #555;
    vertical-align: top;
    transition: 0.5s;
    cursor: pointer; }
    .gallery .inner #searchBox button:hover {
      background: #333;
      color: #fff; }
.gallery .inner #gallery {
  width: 100%;
  min-height: 500px;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: 0.5s; }
  .gallery .inner #gallery.on {
    opacity: 1;
    transform: translateY(0px); }
  .gallery .inner #gallery::after {
    content: '';
    display: block;
    clear: both; }
  .gallery .inner #gallery .item {
    width: 25%;
    float: left;
    padding: 12px; }
    .gallery .inner #gallery .item div {
      width: 100%;
      background: #ddd; }
      .gallery .inner #gallery .item div h2 {
        font: 16px/1 "Open Sans", "Nanum Gothic";
        color: #555;
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        padding: 30px 20px 10px 20px; }
        .gallery .inner #gallery .item div h2::after {
          content: '';
          display: block;
          width: 3vw;
          height: 1px;
          background: #bbb;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%); }
      .gallery .inner #gallery .item div a {
        display: block;
        width: 100%; }
        .gallery .inner #gallery .item div a img {
          width: 100%; }
      .gallery .inner #gallery .item div p {
        width: 100%;
        margin-top: 20px;
        padding-left: 20px;
        font: 14px/1 "Open Sans", "Nanum Gothic";
        color: #666; }
      .gallery .inner #gallery .item div span {
        display: block;
        width: 100%;
        margin-top: 10px;
        padding-left: 20px;
        padding-bottom: 30px;
        font: 13px/1 "Open Sans", "Nanum Gothic";
        color: #888; }

aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px; }
  aside img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
  aside .close {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    font: 18px/1 "Open Sans", "Nanum Gothic";
    color: #fff;
    cursor: pointer; }

/*youtube---------------------------------*/
.youtube .sub_visual {
  background: url(../img/youtube/bg01.jpg) no-repeat center/cover;
  filter: saturate(50%); }
.youtube .inner #vidGallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center; }
  .youtube .inner #vidGallery article {
    width: 48%;
    border: 1px solid #aaa;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
    overflow: hidden; }
    .youtube .inner #vidGallery article .pic {
      width: 60%;
      height: 100%;
      overflow: hidden; }
      .youtube .inner #vidGallery article .pic img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transform: scale(1.4); }
    .youtube .inner #vidGallery article .con {
      width: 40%;
      position: relative;
      padding: 30px 10px 0px 10px; }
      .youtube .inner #vidGallery article .con h2 {
        font: bold 16px/1.2 "Open Sans", "Nanum Gothic";
        color: #333;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #999; }
      .youtube .inner #vidGallery article .con p {
        font: 13px/1.3 "Open Sans", "Nanum Gothic";
        color: #555;
        margin-bottom: 20px; }
      .youtube .inner #vidGallery article .con span {
        font: 12px/1 "Open Sans", "Nanum Gothic";
        color: #666;
        position: absolute;
        right: 10px;
        bottom: 20px; }
    .youtube .inner #vidGallery article .btn {
      width: 40%;
      height: 100%;
      background: rgba(0, 0, 0, 0.9);
      position: absolute;
      right: 0;
      top: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font: 16px/1 "Open Sans", "Nanum Gothic";
      color: #fff;
      transition: 0.6s; }
    .youtube .inner #vidGallery article:hover .btn {
      top: 0; }

aside {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px;
  z-index: 5; }
  aside .close {
    position: absolute;
    right: 20px;
    top: 20px;
    font: 18px/1 "Open Sans", "Nanum Gothic";
    color: #fff;
    cursor: pointer; }

#header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #999;
  z-index: 5; }
  #header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative; }
    #header .inner h1 {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%); }
      #header .inner h1 a {
        font: 28px/1 "Open Sans", "Nanum Gothic";
        color: #333; }
    #header .inner .menuWeb #gnb {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      #header .inner .menuWeb #gnb::after {
        content: '';
        display: block;
        clear: both; }
      #header .inner .menuWeb #gnb li {
        float: left; }
        #header .inner .menuWeb #gnb li a {
          display: inline-block;
          font: 14px/1 "Open Sans", "Nanum Gothic";
          color: #fff;
          padding: 0 20px; }

#visual {
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #visual .vid {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  #visual .pic {
    width: 100%;
    height: 100%;
    object-fit: cover; }

#footer {
  width: 100%;
  background: #111;
  padding: 80px;
  border-top: 1px solid #111; }
  #footer .inner {
    width: 1180px;
    margin: 0 auto;
    position: relative; }
    #footer .inner .wrap {
      width: 100%; }
      #footer .inner .wrap::after {
        content: '';
        display: block;
        clear: both; }
      #footer .inner .wrap h1 {
        width: 15%;
        float: left;
        font-size: 0; }
        #footer .inner .wrap h1 a {
          font: 24px/1 "Open Sans", "Nanum Gothic";
          color: #fff; }
      #footer .inner .wrap .box {
        width: 70%;
        float: left; }
        #footer .inner .wrap .box ul {
          width: 100%; }
          #footer .inner .wrap .box ul::after {
            content: '';
            display: block;
            clear: both; }
          #footer .inner .wrap .box ul li {
            float: left;
            margin-bottom: 20px; }
            #footer .inner .wrap .box ul li a {
              font: 14px/1 "Open Sans", "Nanum Gothic";
              color: #ccc;
              padding-right: 20px; }
        #footer .inner .wrap .box address {
          width: 100%;
          font: 13px/1.6 "Open Sans", "Nanum Gothic";
          color: #666; }
        #footer .inner .wrap .box p {
          font: 12px/1 "Open Sans", "Nanum Gothic";
          color: #555;
          margin-top: 40px; }
      #footer .inner .wrap .familysite {
        width: 15%;
        float: right; }
        #footer .inner .wrap .familysite select {
          width: 160px;
          height: 40px;
          border: none;
          background: #111;
          border-bottom: 1px solid #ddd;
          color: #fff;
          font: 14px/40px "Open Sans", "Nanum Gothic";
          color: #ddd;
          margin-bottom: 20px; }
        #footer .inner .wrap .familysite .sns {
          width: 100%; }
          #footer .inner .wrap .familysite .sns li {
            display: inline-block; }
            #footer .inner .wrap .familysite .sns li a {
              font-size: 22px;
              color: #999;
              padding: 15px; }

/*# sourceMappingURL=style.css.map */
