/*gallery---------------------------------*/
.gallery{
    .sub_visual{
        background:url(../img/gallery/bg01.jpg) no-repeat center/cover;
    }
    .inner{
        
        h1{
            border-bottom: none;
            margin-bottom:20px; cursor: pointer;
        }
        .loading{
            width:80px; height:80px;
            position:absolute; top:200px; left:50%;
            transform:translateX(-50%);
            transition:0.5s;
            &.off{
                opacity:0; 
            }
        }

        #searchBox{
            width:100%; text-align:center;
            margin-bottom:20px; position:relative;
            padding-right:12px;

            input[type=text]{
                width:200px; height:30px; 
                font:13px/30px $font; color:#000;
                border:1px solid #ccc;
            }
            button{
                width:78px; height:30px;
                border:1px solid #ccc;
                background:#fff;
                font:12px/30px $font; color:#888;
                vertical-align:top; transition:0.5s;
                cursor:pointer;
                &:hover{
                    background:#333; color:#fff;
                }
            }
        }
        #gallery{
            width:100%; min-height:500px; position:relative;
            opacity:0; transform:translateY(100px);
            transition:0.5s;
            &.on{
                opacity:1; transform:translateY(0px);
            } 

            &::after{
                content:''; display:block; clear:both;
            }
            .item{
                width:25%; float:left; padding:12px;
                div{
                    width:100%; background:#eee;
                    h2{
                        font:16px/1 $font; color:#555;
                        text-align:center; position:relative;
                        margin-bottom:20px; padding:30px 20px 10px 20px;
                        &::after{
                            content:''; display:block;
                            width:3vw; height:1px; background:#bbb;
                            position:absolute; bottom:0; left:50%;
                            transform:translateX(-50%);
                        }
                    }
                    a{
                        display:block; width:100%;
                        img{ width:100%; }
                    }
                    p{
                        width:100%; margin-top:20px;
                        padding-left:20px;
                        font:14px/1 $font; color:#666;
                    }
                    span{
                        display:block; width:100%; margin-top:10px;
                        padding-left:20px; padding-bottom:30px;
                        font:13px/1 $font; color:#888;
                    }
                }
               
            }
        }
    }
}

aside{
    width:100%; height:100vh;
    background:rgba(0,0,0,0.8);
    position:fixed; top:0; left:0;
    padding:80px;
    img{ width:100%; height:100%; object-fit:contain; }
    .close {
        display:block; position:absolute; top:20px; right:20px;
        font:18px/1 $font; color:#fff; cursor:pointer;
    }
}

