/*join---------------------------------*/
.join{
    .sub_visual{
       background: url(../img/department/bg3.jpg) no-repeat center/cover;
    }
    .wrap{
        width:100%; height:100%;
        h2{
            font:700 26px/1 $font; color:#333;
            margin-bottom:10px;
        }
        ul{
            width:100%; background:#eee;
            border-top:5px solid #111;
            text-align:center; padding:50px;
            li{
                display:inline-block;
                padding:0 13px; margin-bottom:10px;
                input[type=radio]{
                    appearance:none;
                    width:15px; height:15px;
                    border:1px solid #333;
                    font-size:12px; color:#333;
                    position:relative;
                    &:checked::before{
                        content:''; display:block;
                        width:7.5px; height:7.5px;
                        margin:5%; background:#333;
                        position:absolute; margin-top:2.5px; margin-left:2.5px;
                    }
                }
            }
            p{
                font:14px/1 $font; color:#555;
            }
        }
    }
}
