/*join---------------------------------*/
.join{
    .sub_visual{
       background: url(../img/join/join01.jpg) no-repeat center/cover;
       .title{
           h1{ color:#111;}
           span{ color:#555; }
       }
    }
    .wrap{
        width:100%; height:100%;
        h2{
            font:600 26px/1 $font; color:#333;
            margin-bottom:10px;
        }
        ul{
            width:100%; background:#eee;
            border-top:5px solid #111;
            text-align:center; padding:60px 0;
            margin-bottom:80px;
            li{
                display:inline-block;
                padding:0 13px; margin-bottom:10px;
                input[type=radio]{
                    appearance:none;
                    width:15px; height:15px;
                    border:1px solid #333;
                    font-size:12px; color:#333;
                    position:relative;
                    &:checked::before{
                        content:''; display:block;
                        width:7.5px; height:7.5px;
                        margin:5%; background:#333;
                        position:absolute; margin-top:2.5px; margin-left:2.5px;
                    }
                }
            }
            p{
                font:14px/1 $font; color:#555;
            }
        }
    }
    .base_info{
        width:100%; 
        h3{
            font:20px/1 $font; color:#333;
            margin-bottom:10px;
        }
        table{
            width:100%; border-top:1px solid #333;
            margin-bottom:80px;
            th{
                width:15%; text-align:left;
                font:16px/1 $font; color:#333;
                padding:20px 30px; position:relative;
                label{
                    &::before{
                        content:''; display:inline-block;
                        width:8px; height:8px; background:#333;
                        position:absolute; top:50%; left:20px;
                        transform:translateY(-50%);
                    }
                }
            }
            td{
                width:80%; padding:20px;
                input[type=text],input[type=password]{
                    width:40%; height:35px;
                    border:1px solid #ddd;
                    padding:10px;
                    font:14px/1 $font; color:#999;
                }
                button{
                    width:136px; height:35px;
                    border:1px solid #999;
                    background:#fff; cursor:pointer;
                    font:14px/1 $font;  color:#111;
                }
                select{
                    width:123px;height:35px;
                    border:1px solid #ddd;
                    font:14px/1 $font; color:#333;
                    padding: 0 10px;
                }
                >label{
                    font:16px/1 $font; color:#333;
                    margin-right:20px;
                }
                #code{
                    width:25%;
                }
                #address, #addressSub{
                    display:block;
                    margin-top:5px;
                }
                //동적으로 생성될 에러 메시지 스타일
                p {
                    font: 12px/1 $font; 
                    color: hotpink;
                    margin-top: 5px;
                 } 
            }
        }
    }
    .agreement{
        width:100%; 
        input[type=checkbox]{
            width:15px; height:15px;
            border:1px solid #333;
        }
        label{
            font:18px/1 $font; color:#333;
            vertical-align: top;
        }
        .agreement_box{
            width:100%; height:250px;
            overflow-x:hidden;
            overflow-y:auto;
            font:16px/1.6 $font; color:#666;
            border:1px solid #ddd;
            padding:30px 50px; margin-top:10px;
            
        }
        .agree1{
            margin-bottom:40px;
        }
    }
    .btns{
        width:100%; text-align:center;
        margin-top:40px;
        input[type=reset],input[type=submit]{
            width:200px; height:60px;
            border:1px solid #333;
            font:16px/1 $font; color:#333;
        }
        input[type=reset]{
            background:#fff;
        }
        input[type=submit]{
            background:#111; color:#fff;
        }
    }
}

@media screen and (max-width:$tablet){
    .join{
        .inner{
            width:100%;  padding:20px;
            .wrap{
                ul{
                    p{
                        font:14px/1.4 $font; padding:0 20px;
                    }
                }
            }
            .base_info{
                table{
                    th{
                        width:30%;
                    }
                    td{
                        width:70%; padding:20px;
                        input[type=text],input[type=password]{
                            width:85%;
                        }
                        button{
                            width:141px;
                        }
                        select{
                            width:100px;
                        }
                        #code{
                            width:45%;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:$mobile){
    .join{
        .inner{
            width:100%;  padding:20px;
            .wrap{
                ul{
                    p{
                        font:14px/1.4 $font; padding:0 20px;
                    }
                }
            }
            .base_info{
                table{
                    th{
                        width:35%; padding:10px;
                        font-size:13px;
                        label{
                            &::before{
                                width:6px; height:6px; left:0px;
                            }
                        }
                    }
                    td{
                        padding:10px;
                        input[type=text],input[type=password]{
                            width:100%; font-size:12px;
                        }
                        button{
                            width:100%; font-size:12px;
                        }
                        select{
                            width:100%; margin-bottom:5px;
                        }
                        >label{
                            font-size:14px;
                        }
                        #code{
                            width:100%; margin-bottom:5px;
                        }
                    }
                }
            }
            .agreement{
                label{
                    font-size:16px;
                }
                .agreement_box{
                    height:200px; font-size:14px;
                    padding:20px; 
                }
            }
            .btns{
                input[type=reset],input[type=submit]{
                    width:140px; font-size:14px;
                }
            }
        }
    }
}