@charset 'utf-8';
@import "reset.scss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$mainFont : 'Roboto';
$font : "Noto Sans", 'Noto Sans KR';
$titColor:#7588a0;
$tablet : 1179px;
$mobile : 539px;

@import "sub_layout.scss";
@import "department.scss";
@import "join.scss";
@import "gallery.scss";
@import "youtube.scss";

#header{
    width:100%; position:absolute; top:0; left:0;
    border-bottom:1px solid #999; z-index:5;
    .inner{
        width:1180px; height:80px; margin:0 auto;
        position:relative;
        h1{
            position:absolute; top:50%; left:0;
            transform:translateY(-50%);
            a{
                font:28px/1 $font; color:#333;
            }
        }
        .menuWeb{
            #gnb{
                position:absolute; right:0; top:50%;
                transform:translateY(-50%);
                &::after{
                    content:''; display:block; clear:both;
                }
                li{
                    float:left;
                    a{
                        display:inline-block;
                        font:14px/1 $font; color:#fff;
                        padding:0 20px;
                    }
                }
            }
        }
    }
}
#visual{
    width:100%;  height:100vh;  overflow: hidden;

    .vid{
        width:100%; height:100%; object-fit: cover;
    }
    .pic{
        width:100%; height:100%; object-fit: cover;
    }
}
#footer{
    width:100%; 
    background:#111; padding:80px;
    border-top:1px solid #111;
    .inner{
        width:1180px; margin:0 auto; position:relative;
        .wrap{
            width:100%;
            &::after{ content:''; display:block; clear:both; }
            h1{
                width:15%; float:left; font-size:0;
                a{
                    font:24px/1 $font; color:#fff;
                }
            }
            .box{
                width:70%; float:left;
                ul{
                    width:100%;
                    &::after{
                        content:''; display:block; clear:both;
                    }
                    li{
                        float:left; margin-bottom:20px;
                        a{
                            font:14px/1 $font; color:#ccc;
                            padding-right:20px;
                        }
                    }
                }
                address{
                    width:100%;
                    font:13px/1.6 $font; color:#666;
                }
                p{
                    font:12px/1 $font; color:#555;
                    margin-top:40px;
                }
            }
            .familysite{
                width:15%; float:right;
                select{
                    width:160px; height:40px;
                    border:none; background:#111;
                    border-bottom:1px solid #ddd;
                    color:#fff; font:14px/40px $font; color:#ddd;
                    margin-bottom:20px;
                }
                .sns{
                    width:100%;
                    li{
                        display:inline-block;
                        a{
                            font-size:22px;
                            color:#999; padding:15px;
                        }
                    }
                }
            }
        }
    }
}